<!doctype html>
 <html lang="en">
 
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Details</title>
</head>

<style>
  body{
    background-color:grey;
  }
  .columns {
  float: left;
  width: 33.3%;
  padding: 8px;
}
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }
}
.navbar-custom {
    color:black;
    background-image: linear-gradient(black, lightblue, black);
}

.navbar-brand {
  color: red;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}


.img {
  width: 400px;
  height: 200px;
  border:100px solid yellow;
  background: url(image/312-3126045_create-your-your-name-in-japanese-kanji-music.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px yellow;
  -webkit-box-shadow: 10px 10px 5px yellow;
  box-shadow: 50px 50px 5px yellow;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
    }
  
</style>
 <nav class="navbar navbar-light navbar-custom">
  <img src="image/312-3126045_create-your-your-name-in-japanese-kanji-music.png" class="img-fluid rounded-circle" style="width: 50px" alt="">
  <a class="navbar-brand" style="width: left;" href="">M.Y.S</a>&nbsp;  
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link" href="contactUS.html">Help<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="sign in .html">Sign in<span class="sr-only">(current)</span></a>
            <a class="nav-link" href="sign up.html">Sign up<span class="sr-only">(current)</span></a>
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="english song.html">English Music</a>
                <a class="dropdown-item" href="lisa.html">Singer Lisa</a>
                  <a class="dropdown-item" href="kenshi.html">Singer Kenshi</a>
                  <a class="dropdown-item" href="list.html">Japan Music</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="loading.html">Plan</a>
              </div>
                    
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
 </nav>
 
</style>
</head>
<body>

<div class="col-md-1"></div>
</div>
</div>
 
</div> 
</div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
<body>
 <div class="container-fluid" style="margin-top:10px">

    
                <div class="row">

                  
                        </ul>
                      </div>

                            <div class="columns">
                                <ul class="list-group">
                                <img src="image/singer/Avicii.png" alt="" width="200" height="200">
                                <a href="Avicii.html"> Avicii</a>
                                </ul>
                              </div>
                              
                              <div class="columns">
                                <ul class="list-group">
                              <img src="image/singer/Carly Rae Jepsen.png" alt="" width="200" height="200">
                              <a href="Carly Rae Jepsen.html"> Carly Rae Jepsen</a>
                              </ul>
                              </div>

                              <div class="columns">
                                  <ul class="list-group">
                                  <img src="image/singer/Ed Sheeran.png" alt="" width="200" height="200">
                                  <a href="Ed Sheeran.html"> Ed Sheeran</a>
                                  </ul>
                                  </div>

                                  <div class="columns">
                                      <ul class="list-group">
                                      <img src="image/singer/LMFAOVEVO.png" alt="" width="200" height="200">
                                      <a href="LMFAOVEVO.html"> LMFAOVEVO</a>
                                      </ul>
                                      </div>

                                      <div class="columns">
                                          <ul class="list-group">
                                          <img src="image/singer/The Chainsmokers.png" alt="" width="200" height="200">
                                          <a href="The Chainsmokers.html"> The Chainsmokers</a>
                                          </ul>
                                          </div>

                                          <div class="columns">
                                              <ul class="list-group">
                                              <img src="image/singer/Zedd.png" alt="" width="200" height="200">
                                              <a href="Zedd.html"> Zedd</a>
                                              </ul>
                                              </div>

                              
                              

        <div>
            <div style="flood-color: red;"></div>
        </div>